@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mattone";
  src: url("./assets/fonts/Mattone.woff2");
}

.home {
  background: rgb(0, 0, 0);
  background: linear-gradient(173deg, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
}